@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'flowbite';

@layer base {
  body {
    font-family: 'Roboto', sans-serif;
    @apply bg-[rgb(22,22,22)]
  }
}

@layer components {
  [drawer-backdrop] {
    background-color: rgba(0, 0, 0, 0.7) !important;
  }
}

.banner{
    position: relative;
    overflow: hidden;
    margin-top: 65px;
    height: 600px;
    display: grid;
    grid-template-rows: 200px 300px;
    justify-content: start;
    padding: 60px;
    color: white;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}

.banner::before{
    overflow-y: hidden;
    height: 100vh;
    padding:0;
    margin:0;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-image: url("/equalizer.gif");
    background-size: cover;
    filter: brightness(0.3); /* Adjust the brightness */
    z-index: -1; /* Ensure the background is below the text */
    opacity: 1; /* Ensure the background image is fully visible */
}

.bannerText{
  position: absolute;
  bottom: 120px;
  left: 50px;
}

/* Profile four goals section */
.fourGoals{
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  gap: 10px;
}

/* Goal tooltip*/
.pop{
  visibility: hidden;
}

.circle:hover .pop{
  visibility: visible;
}


@media print{
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  body{
    visibility: hidden;
    background-color: white;
  }

  .printable-area {
    visibility: visible;
    margin-top: 0px !important;
  }

  .theTitle{
    color: black;
  }

  .excludePrint *{
    visibility: hidden;
  }

  .time *{
    background-color: black !important;
    color: white;
    font-size: 16px;
    padding: 5px;
    WebkitPrintColorAdjust: "exact";
  }

  .action *{
    font-size: 16px;
    display: flex;
    align-items: center;
    color: black;
  }

  .theTitle{
    font-size: 32px;
  }
}